body 
{
    color: blueviolet;
    text-align: center;
    font-size: 16px;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    border: 1px solid #dddddd;
    text-align: left;
    margin: 0 auto;
    padding: 1em;

}

#container h1
{
    font-size: 20px;
}

#container titulo
{
    font-size: 20pc;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}